<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="{{ url_for('static', filename='img/fav.png')}}">
	<!-- Author Meta -->
	<meta name="author" content="codepixer">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>Uber forecast</title>

	<link href="https://fonts.googleapis.com/css?family=Poppins:400,600|Roboto:400,400i,500" rel="stylesheet">
	<!--
			CSS
			============================================= -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/linearicons.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/nice-select.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/select-css.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">

	<script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-2.2.1.min.js" integrity="sha384-qkRvDQVAIfzsJo40iRBbxt6sttt0hv4lh74DG7OK4MCHv4C5oohXYoHUM5W11uqS" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.2.1.min.js" integrity="sha384-Sb7Mr06a9TNlet/GEBeKaf5xH3eb6AlCzwjtU82wNPyDrnfoiVl26qnvlKjmcAd+" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.2.1.min.js" integrity="sha384-HaJ15vgfmcfRtB4c4YBOI4f1MUujukqInOWVqZJZZGK7Q+ivud0OKGSTn/Vm2iso" crossorigin="anonymous"></script>
    <script type="text/javascript">
        Bokeh.set_log_level("info");
    </script>

	<script src="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js"></script>
	<link href="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css" rel="stylesheet" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main-style.css')}}" />
</head>

<body>
	<!-- start header Area -->
	<header id="header">
		<div class="container main-menu">
			<div class="row align-items-center justify-content-between d-flex">
				<div id="logo">
					<a href="index.html"><img src="{{ url_for('static', filename='img/logo.png')}}" alt=""
							title="" /></a>
				</div>
				<nav id="nav-menu-container">
					<ul class="nav-menu">
						<li class="menu-active"><a href="#showmap">Map</a></li>
						<li><a href="#score">Score</a></li>
						<li><a href="#features">Features</a></li>
						<li><a href="#graphs">Graphs</a></li>
						<li><a href="#comparaison">Comparaison</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	<!-- end header Area -->

	<!-- start banner Area -->
	<section class="home-banner-area"
		style="background: url({{ url_for('static', filename='img/home-banner-bg.jpg')}}) center;">
		<div class="container" id="showmap">
			<div class="map-container">
				<div id="map"></div>
			</div>

			<div class="row fullscreen d-flex align-items-center justify-content-between">
				<div class="home-banner-content col-lg-6 col-md-6">
				</div>
			</div>
		</div>
	</section>
	<!-- End banner Area -->

	<section class="fact-area" id="score">
		<div class="container">
			<div class="row align-items-center">
				<form action="{{ url_for('predict')}}" method="POST">
				<select name="model_select" id="mounth">
					<option value="model_sarimax">SARIMAX</option>
					<option value="model_lgbm">LGBM</option>
					<option value="model_naive">Naive</option>
					<option value="model_prophet">Prophet</option>
				</select>
				<select name="horizon" id="mounth">
					<option value="1">1h</option>
					<option value="2">2h</option>
					<option value="4">4h</option>
					<option value="24">1 jour</option>
					<option value="168">1 semaine</option>
				</select>
				<div class="predict_button">
					<button type="submit" class="btn btn-primary btn-block btn-large">Forecaster l'affluence</button>
				</div>
				</form>
			</div>
		</div>
	</section>

	<!-- Start fact Area -->
	<section class="fact-area">
		<div class="container">
			<div class="fact-box">
				<div class="row align-items-center">
					<div class="col single-fact">
						<h2>{{ smape_score }}%</h2>
						<p>smape score</p>
					</div>
					<div class="col single-fact">
						<h2>{{ mape_score }}%</h2>
						<p>mape score</p>
					</div>
					<div class="col single-fact">
						<h2>{{ model_name }}</h2>
						<p>Nom du model</p>
					</div>
					<div class="col single-fact">
						<h2>+ {{ pred_horizon }}h</h2>
						<p>Horizon de prédiction</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End fact Area -->

	<!-- Start feature Area -->
	<section class="feature-area section-gap-top" id="features">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="col-lg-6">
					<div class="section-title text-center">
						<h2>Details des featues</h2>
						<p>Bon alors la y a de place pour décrire ce qu'on veut
						</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="single-feature">
						<a href="#" class="title">
							<span class="lnr lnr-book"></span>
							<h3>Expert Technicians</h3>
						</a>
						<p>
							Usage of the Internet is becoming more common due to rapid advancement of technology and
							power.
						</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-feature">
						<a href="#" class="title">
							<span class="lnr lnr-book"></span>
							<h3>Professional Service</h3>
						</a>
						<p>
							Usage of the Internet is becoming more common due to rapid advancement of technology and
							power.
						</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-feature">
						<a href="#" class="title">
							<span class="lnr lnr-book"></span>
							<h3>Great Support</h3>
						</a>
						<p>
							Usage of the Internet is becoming more common due to rapid advancement of technology and
							power.
						</p>
					</div>
				</div>

			</div>
		</div>
	</section>
	<!-- End feature Area -->

	<!-- Start about Area -->
	<section class="about-area" id="graphs">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-5 home-about-left">
					<!--l'image de l'iphone etait ici-->
				</div>
				<div class="col-lg-6 home-about-right home-about-right2">
					<h1>
						j'ai laissé cet espace <br>
						au cas ou, à supprimer <br>
						si on l'utilise pas
					</h1>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
						labore et dolore
						magna aliqua.Ut
						enim ad minim. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
					</p>
				</div>
				<div class="col-lg-5 home-about-left">
					<!--image de l'iphone a gauche ici-->
				</div>
			</div>
			<div id="myplot"></div>
		</div>
	</section>
	<!-- End about Area -->

	<!-- Start Pricing Area -->
	<section class="pricing-area" id="comparaison">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="col-lg-6">
					<div class="section-title text-center">
						<h2>Comparaison final des algos</h2>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="single-price">
						<div class="top-sec d-flex justify-content-between">
							<div class="top-left">
								<h4>ARIMA</h4>
								<p>méthode statistique <br></p>
							</div>
							<div class="top-right">
								<h1>30%</h1>
							</div>
						</div>
						<div class="end-sec">
							<ul>
								<li style="color:green;">Précis</li>
								<li style="color:green;">Modelable</li>
								<li style="color:red;">Lent à calculer</li>
								<li>autres</li>
								<li>autres</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-price">
						<div class="top-sec d-flex justify-content-between">
							<div class="top-left">
								<h4>RNN</h4>
								<p>Méthodes de réseaux de <br>neurones</p>
							</div>
							<div class="top-right">
								<h1>11%</h1>
							</div>
						</div>
						<div class="end-sec">
							<ul>
								<li>2.5 GB Free Photos</li>
								<li>Secure Online Transfer Indeed</li>
								<li>Unlimited Styles for interface</li>
								<li>Reliable Customer Service</li>
								<li>Manual Backup Provided</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-price">
						<div class="top-sec d-flex justify-content-between">
							<div class="top-left">
								<h4>LightGBM</h4>
								<p>Méthodes de gradient <br>boosting</p>
							</div>
							<div class="top-right">
								<h1>9.71%</h1>
							</div>
						</div>
						<div class="end-sec">
							<ul>
								<li>2.5 GB Free Photos</li>
								<li>Secure Online Transfer Indeed</li>
								<li>Unlimited Styles for interface</li>
								<li>Reliable Customer Service</li>
								<li>Manual Backup Provided</li>
							</ul>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>
	<!-- End Pricing Area -->

	<!-- Start Footer Area -->
	<!-- <footer class="footer-area section-gap"> -->
	<div class="container">
		<div class="footer-bottom row align-items-center">
			<p class="footer-text m-0 col-lg-6 col-md-12">
				<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
				Copyright &copy;
				<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made
				with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com"
					target="_blank">Colorlib</a>
				<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
			</p>
			<div class="col-lg-6 col-md-6 social-link">
				<div class="download-button d-flex flex-row justify-content-end">
					<p>machine learning model, prediction, mapbox integration made by <a
							href="https://github.com/jeremySrgt" target="_blank">Jérémy Surget</a> & <a
							href="https://github.com/Sylvainj1" target="_blank">Sylvain Jiang</a></p>
				</div>
			</div>
		</div>
	</div>
	<!-- </footer> -->
	<!-- End Footer Area -->

	<script type="text/javascript" src="{{ url_for('static', filename='js/mapbox_action.js') }}"></script>
	<script type="text/javascript">
		var pickups_data = {{ pickup_data | safe}};
		var sm = "{{ selected_model | safe}}";
		console.log(sm)
	</script>


	<script src="{{ url_for('static', filename='js/vendor/jquery-2.2.4.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/select-function.js') }}"></script>
	<script src="{{ url_for('static', filename='js/tilt.jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/vendor/bootstrap.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/easing.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/superfish.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/main.js') }}"></script>

	<script type="text/javascript">
		fetch('/myplot',{
  					method: "POST",
  					body: JSON.stringify({'model': "{{selected_model|safe}}"}),
  					headers: {
    				"Content-Type": "application/json"
  				}})
		  .then(function(response) { return response.json(); })
		  .then(function(item) { return Bokeh.embed.embed_item(item); })
	</script>
</body>

</html>